VITE_SUPABASE_URL=https://odfnpfrgeiwolrfhvmgn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kZm5wZnJnZWl3b2xyZmh2bWduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MDA3NTQsImV4cCI6MjA5OTA3Njc1NH0.jhaySrnSPLpZKBy3aKnfPze7qvGeLlQ0d4JCs1A7b5k